body {
  background-color: lightcyan;
}

/* button {
  background-color: blueviolet;
} */

/* .col {
  background-color:#582f00;
  border: 10px ridge #281100;
  margin-top: 2%;
  padding: 1%;
  text-align: center;
} */